.chats {
  padding:16px 0;
  font-family: 'Roboto';
  font-weight: 400;
}

.bubble-container {
  margin-bottom: 30px;
  display:flex;
  font-size: 14px;
  align-items: top center;
  flex-direction: row-reverse;
}

.bubble-direction-reverse {
  flex-direction: row;
}

.bubble {
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 0 0 6px #B2B2B2;
    display: block;
    padding: 18px;
    position: relative;
    color: white;
    word-wrap: break-word;
    display: flex;
    align-content: center;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.bubble img {
  border-radius: 15px;
}
.me {
    background-color: #ee3980;
    margin-left: 10px;
    margin-right:18px;
}

.me::before {
    
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
    background-color: #ee3980;
}

.you {
    
    background-color: #5cbfdc;
    color:#000;
    margin-left: 18px;
    margin-right:10px;
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
    background-color: #5cbfdc;
}


.narrator {
    background-color: #FDC300;
    margin-left: 18px;
    margin-right:18px;
    color:#000;
}

.narrator::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
    background-color: #FDC300;
    display: none;
}

.img-circle {
  border-radius: 42%;
  height:72px;
  width:72px;
}

/*Loading*/
.loading {
  text-align: center;
}

.loading img {
  height:30px;
}


/* Message Images */
.message-image {
  position: relative;
}
.message-image img {
  max-width: 100%;
}



@media (min-width: 840px) { 
  .chats {
    padding:32px 84px 84px 32px;
  }

  .bubble-container {
    font-size: 18px;
  }

  .me {
    margin-left: 60px;
  }

  .you {
    margin-right:60px;
  }
}
