
.image-container {
	position: relative;
}

.image-container .more {
  position: absolute;
  bottom:0;
  right:0;
  background:#fff;
  color:#000;
  text-decoration: none;
	padding:3px 8px;
  border-radius: 3px;
  font-size:10px;
}

img.expanded-info {
  width:100%;
}
p.expanded-info {
  font-size:12px;
}